.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 40px;
  }
  .carousel-cards{
    padding: 12px;
  }
  img.icons{
    width: 60px;
    border-radius: 100px;
    margin: 6px;
  }
  .carousel-cards h2{
 text-align: center;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    /* flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 80px;
    height: 80px;
  }
  
  .card h3 {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
  }
  .subtitle{
    text-align: center;
    font-size: 1em;
  }
 .description{
    text-align: center;
font-size: 0.8em;
font-weight: bold;
  }

  .icon {
    font-size: 2.5em;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #6200ea;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  .card {
    margin: 10px;
}
  /* Media Queries para Desktop */
  @media (min-width: 680px) {
    .card-container {
      justify-content: space-between;
      width: 100%;
    }
  
    .card {
      min-width: 20%; /* Se muestran 4 cards por pantalla */
      flex-shrink: 1;
      transform: none !important;
    }
  
    .prev, .next {
      display: none; /* Ocultar los botones de navegación en pantallas más grandes */
    }
  }
 