.welcome, .category, .game {
  text-align: center;
  padding: 20px;
  min-height: 70vh;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.category {
  width: 90%;
  margin: auto auto;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media(min-width: 1024px){
  .category {
    width: 90%;
    margin: auto auto;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
  
}