:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #09ff00;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: rgb(255, 0, 0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b04c22;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 90%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
h2.question {
  width: 90%;
  margin: 0 auto;
}
button.btn.out {
  background-color: transparent;
  border: solid 1px #687a61;
  color: #687a61;
  position: fixed;
  right: 45%;
  bottom: 0;
  width: 10%;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #342b32;
    background-color: darkgray;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #b04c22;
    border: solid 1px #b04c22;
    color: white;
  }
  button.btn.no,
  .btn.categoryes {
    background-color: transparent;
    border: solid 1px #b04c22;
    color: #b04c22;
  }
  button.btn.out {
    background-color: transparent;
    border: solid 1px #687a61;
    color: #687a61;
  }
}
@media (max-width: 500px){
  button.btn.out {
    width: 100px;
    right: 35%;
  }
}